body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}

h1{
  font-size: 59px; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #2c384a;
}

h2{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h3{
    font-size: 14px;
}
ul, li{
    display: block;
    margin: 0;
    
 }

a{
    color: #000;
    text-decoration: none;
}
header{
    background-image: url("../img/bg.jpg");
}
.header {
    background: #344051;
    padding: 25px 0;
    color: #fff;
}

.container{
    width: 1100px;
    margin: 0 auto;
    /* border: 1px solid red;   */
}

.logo{
    font-size: 26px;    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
}

.menu li a{
    margin-left: 40px;
    text-transform: uppercase;
    color: #fff;
}


main{
   width: 100%;
   background: url(../img/bg.png) no-repeat center;

}
.main-text{
    padding-top: 430px;
    padding-bottom: 295px;
    width: 490px;
    text-align: center;
}

.main-text p{
    font-size: 18px;
    color: #a3a8b1;
    margin-bottom: 55px;
}

.btn{
    color: #6d7682;
    border: 1px solid #6d7682;
    padding: 15px;
    border-radius: 5px;
    margin-right: 42px;
    transition: 0.5s;
}

.btn:hover{
    background-color: #cde0fb;
    color: #000;
}

/*Обо мне*/

.about-me{
    padding-top: 110px;
    padding-bottom: 120px;
}
.len{ 
    width: 70px;
    height: 5px;
    background: chocolate;
    text-align: center;
    position: relative;
    margin:0 auto;
}


.my-img{
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.my-text{
    margin:0 auto;
    width: 700px;
}
.my-text p{
    margin-bottom: 40px;
}
.btn-donwlo{
    color: #6d7682;
    border: 1px solid #6d7682;
    padding: 5px;
    border-radius: 5px;
    width: 155px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.download-img{
    margin-right: 7px;
    
}

/*Skills*/
.i-can{
    background: url('../img/bg2.png') no-repeat;
    padding-top: 107px;
    padding-bottom: 90px;
    
}

.box-skils{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 107px;
}
.skills{
    text-align: center;
    width: 215px;
}
.header-text{
    color: #cf7600;
    margin-top: 35px;
    margin-bottom: 17px;
}

.text-skills{
    /* color: cf7600; */
}

.img-pk{
    width: 50px;
    height: 45px;
}

/*Ceses*/

.cases{
    padding-top: 105px;
    padding-bottom: 130px;

}
.text-cases{
    text-align: center;
    margin: 35px 0 ;
}

.cases-box{
    margin-top: 40px ;
    margin-bottom: 40px;
    align-items: center;
}

.visit{
    display: block;
    background: #0cb1a3;
    color: #fff;
    font-size: 16px;
    border: 1px solid #63b5ae;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.text-case-1 h3{
    margin-bottom: 10px;
}
.text-case-1 p{
    margin-bottom: 10px;
}

/*расчет стоимости*/


/*Немного статистики*/
.statistics{
    background: url('../img/bg2.png') no-repeat;
    padding: 100px 0;
}
.box-statistics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 85px;
}

.sta-1 h4 {
    font-size: 25px;
    margin: 20px 0;
}

/*Отзывы*/

.reviews{
    text-align: center;
    margin: 100px 0;
}

.reviews-1{
    margin-top: 60px ;
}
.reviews-1 p{
    margin: 30px 0;
}

/*Контакты*/
.my-contacts{
    background: url('../img/bg3.png') no-repeat center;
    color: #fff;
    text-align: center;
    padding-bottom: 170px;
}
.my-contacts h2{
    padding-top: 105px;
}
.contact p{
    margin: 25px 0;
    font-size: 16px;
}
.contact h3{
    margin: 35px 0;
    font-size: 18px;
}

.info-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 605px;
    margin: 0 auto;
}

.input-info{
    width: 350px;
    padding: 10px 0px 10px 12px;
    background: rgba(211,214,220,1);
    border: none;
    color: #000;
}
.v1{
    margin-right: 30px;
}
.v2{
    width: 735px;
    height: 95px;
    margin: 15px 0 25px 0;
}
.btn-submit{
    display:block;
    font-size: 15px;
    padding: 12px 20px;
    background: none;
    border: 3px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    width: 126px;
    margin: 0 auto;
}

/*Карта*/
.map{
    height: 350px;
    text-align: center;
}
.map h4{
    padding-top: 150px;
    font-size: 30px;
}

/*Footer*/

.footer{
    background: #354051;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}